.p {
        background: black;
        text-align: center;
        color: lightgray;
}
.h1 {
        background-color: black;
        text-align: center;
        color: white;
        size: 24px;
        border-radius: 10px;
}